<%- include('layout', { body: `
<div class="closed-message">
    <h1>Notre site est actuellement fermé</h1>
    <p>Nos heures d'ouverture sont du lundi au vendredi, de 9h à 17h.</p>
    <p>Veuillez revenir pendant nos heures d'ouverture.</p>
</div>
` }) %>